<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Nihal Menon. It uses data from mapbox.com and weatherstack.com.</p>
        <img src="./img/Baby Picture.jpeg" alt="picture of me." class="portrait">
    </div>
    {{>footer}}

    
</body>

</html>