<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/Baby Picture.jpeg" alt="picture of me." class="portrait">
    </div>
    {{>footer}}

    
</body>

</html>